<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <settings>
      <!--  DEFAULTNAMESPACE
            The default namespace for the generated GlassMapper classes.
            Default: CustomNamespace.Models
      -->
      <setting name="Sitecore.Modules.GlassMapperItemGenerator.DefaultNamespace" value="CustomNamespace.Models" />

      <!--  DEFAULTFILEPATH
            The default file path to save the generated GlassMapper classes. This should be the top level folder 
            as the generator will automatically add the folder structure based on the location of your template.
            Default: [] (blank)
      -->
      <setting name="Sitecore.Modules.GlassMapperItemGenerator.DefaultFilePath" value="[]" />

      <!--  GLASSMAPPERCLASSFOLDER
            The folder to write the GlassMapper base class & interface to. This will be stored in the DefaultFilePath 
            under this folder. If left blank, the class & interface will be off the root file path.
            Default: GlassMapper
      -->
      <setting name="Sitecore.Modules.GlassMapperItemGenerator.GlassMapperClassFolder" value="GlassMapper" />
    </settings>
    
    <commands>
      <command name="GlassMapperItemGenerator:GlassMapperItemGeneratorCommand" 
               type="Sitecore.Modules.GlassMapperItemGenerator.Commands.GlassMapperItemGeneratorCommand,Sitecore.Modules.GlassMapperItemGenerator"/>
    </commands>
    
  </sitecore>
</configuration>
